/* 
    common styles
*/
.min-vh-90 {
    min-height: 90vh;
}



/* 
    card component
*/

.card-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tile-card {
    border-radius: 0;
    border: 1px solid #e6e6e6;
    text-align: center;
}

/* 
    form component
*/

.custom-switch > .form-check-input:checked{
    background-color: var(--success);
    border-color: var(--success);
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    position: relative;
    transform: translateY(25%);
}

.floating-input-group {
    border: 1px solid #ccc;
    border-radius: .375rem;
    overflow: hidden;
}

.floating-input-group .custom-floating-input .form-control {
    border-radius: 0;
    border: 0;
}



/* 
custom form field
*/
.form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid darkgray;
    font-size: .8rem;
}

.form-control[required] {
    border-left: 1px solid var(--danger);
}

.form-label {
    font-size: .8rem;
    color: var(--success);
}