/* 
    card component
*/

.card-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-switch > .form-check-input:checked{
    background-color: var(--success);
    border-color: var(--success);
}


.form-signin {
    max-width: 330px;
    padding: 15px;
}

.floating-input-group {
    border: 1px solid #ccc;
    border-radius: .375rem;
    overflow: hidden;
}

.floating-input-group .custom-floating-input .form-control {
    border-radius: 0;
    border: 0;
}